{% extends partners_layout %}

{% block title %}Partenaires | {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="main_title">Partenaires du RCM</h1>
    <p>
        <a class="btn btn-custom" href="{{ path('rudak_partner_devenir') }}">
            Devenir partenaire
        </a>
    </p>


    <div id="partners_list">
        {#
        <div id="remerciements">
            <p>
                Chers partenaires, <br/> Grâce à votre généreuse contribution, la saison du RCM
                s’est merveilleusement déroulée et les résultats du club ont rencontré un vif
                succès. Votre aide est pour beaucoup dans cette réussite et nous tenons aujourd’hui à vous
                témoigner toute la reconnaissance de notre notre club pour votre générosité.
                <br/>Avec nos sincères et chaleureux remerciements, recevez, chers partenaires, l’assurance de
                nos salutations distinguées.
            </p>
        </div>
        #}
        {% for category in categs %}
            <h3>{{ category.name|capitalize }}</h3>
            <div class="row">
                {% for partner in category.partners %}
                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <img src="{{ partner.picture.getwebpath|imagine_filter('partners_front') }}"
                                 alt="logo {{ partner.name }}"/>

                            <div class="caption">
                                <a href="{{ path('rudak_partner_show',{id:partner.id,slug:partner.name|slugit}) }}"
                                   title="{{ partner.name }}" class="btn btn-custom btn-block">
                                    {{ partner.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}