{% extends 'RudakPartnerBundle::layout.html.twig' %}

{% block layout %}
    <div class="row">
        <div class="col-xs-9">
            <h1 class="mainTitle">Partenaires du RCM</h1>

            <div id="partners">
                {% for category in categs %}
                    <h3>{{ category.name }}</h3>
                    <div class="partner-box clearfix">
                        {% for partner in category.partners %}
                            <div class="partner">
                                <a href="http://{{ partner.url }}" title="{{ partner.name }}" target="_blank">
                                    <img src="{{ partner.picture.getwebpath|imagine_filter('partners_front') }}"
                                         alt="logo {{ partner.name }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-3">
            <div class="pub">

            </div>
        </div>
    </div>
{% endblock %}