{% extends partners_layout %}

{% block content %}

    <h1 class="main_title">
        Partenaires du RCM
    </h1>

    {% if partner.current == false %}
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-briefcase"></span>
            Ce partenaire n'a pas souhaité poursuivre sa contribution cette année.
        </div>
    {% endif %}

    <div id="partner_infos">
        <h2>
            {{ partner.name|upper }}
        </h2>

        <div id="image">
            <img src="{{ partner.picture.getwebpath|imagine_filter('partners_front_show') }}"
                 alt="logo {{ partner.name }}" class="img-responsive"/>
        </div>

        <p id="description">
            {{ partner.description|nl2br }}
        </p>
        {% if partner.url and partner.current %}
            <p id="url">
                <strong>Site du partenaire :</strong> <br/><br/>
                <a href="{{ partner.url }}" target="_blank" class="btn btn-xs btn-custom">
                    <span class="glyphicon glyphicon-link"></span>
                    {{ partner.url }}
                </a>
            </p>
        {% endif %}

        <hr/>
        <div class="clearfix" style="margin-bottom: 20px;">
            <div class="pull-right">
                <div class="fb-like"
                     data-href="{{ app.request.uri }}"
                     data-layout="box_count"
                     data-action="like"
                     data-show-faces="true"
                     data-share="false">
                </div>

                <div class="fb-share-button"
                     data-href="{{ app.request.uri }}"
                     data-layout="box_count">
                </div>
            </div>
        </div>
    </div>
{% endblock %}