{% extends partners_layout %}

{% block content %}

    <h1 class="main_title">
        Partenaires du RCM
    </h1>

    {% if partner.current == false %}
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-briefcase"></span>
            Ce partenaire n'a pas souhaité poursuivre sa contribution cette année.
        </div>
    {% endif %}

    <div id="partner_infos">
        <h2>
            {{ partner.name|upper }}
        </h2>

        <div id="image">
            <img src="{{ partner.picture.getwebpath|imagine_filter('partners_front_show') }}"
                 alt="logo {{ partner.name }}" class="img-responsive"/>
        </div>

        <p id="description">
            {{ partner.description }}
        </p>
        {% if partner.url and partner.current %}
            <p id="url">
                <strong>Site du partenaire :</strong> <br/><br/>
                <a href="{{ partner.url }}" target="_blank" class="btn btn-xs btn-custom">
                    <span class="glyphicon glyphicon-link"></span>
                    {{ partner.url }}
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}