{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            <span class="badge">{{ entities|length }}</span>
            Catégories
        </li>
    </ol>


    <p>
        <a href="{{ path('admin_partners_categ_new') }}" class="btn btn-success">
            Ajouter une catégorie
        </a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('admin_partners_categ_show', { 'id': entity.id }) }}"
                       class="btn btn-default btn-xs">
                        Voir
                    </a>
                    <a href="{{ path('admin_partners_categ_edit', { 'id': entity.id }) }}"
                       class="btn btn-default btn-xs">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
