{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners_categ') }}">Catégories</a>

        </li>
        <li class="active">Voir une catégorie</li>
    </ol>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>


    <p>
        <a href="{{ path('admin_partners_categ_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Modifier
        </a>
    </p>
    {{ form(delete_form) }}
{% endblock %}
