{% extends admin_layout %}

{% block layout %}
    <p>
        {% if entity.picture %}
            <img src="{{ entity.picture.getwebpath|imagine_filter('admin_show') }}"
                 alt="image_partner_{{ entity.id }}"/>
        {% else %}
            <img src="{{ 'uploads/partners/no-image.jpg'|imagine_filter('admin_show') }}"
                 alt="no image"/>
        {% endif %}
    </p>


    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_partners') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
