{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners') }}">Partenaires</a>

        </li>
        <li class="active">Modifier un partenaire</li>
    </ol>

    <p>
        {% if entity.picture %}
            <img src="{{ entity.picture.getwebpath|imagine_filter('admin_show') }}"
                 alt="image_partner_{{ entity.id }}"/>
        {% else %}
            <img src="{{ 'uploads/partners/no-image.jpg'|imagine_filter('admin_show') }}"
                 alt="no image"/>
        {% endif %}
    </p>


    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
