{% extends admin_layout %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}"/>
{% endblock %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners') }}">Partenaires</a>

        </li>
        <li class="active">Modifier un partenaire</li>
    </ol>

    <p>
        {% if entity.picture %}
            <img src="{{ entity.picture.getwebpath|imagine_filter('admin_show') }}"
                 alt="image_partner_{{ entity.id }}"/>
        {% else %}
            <img src="{{ 'uploads/partners/no-image.jpg'|imagine_filter('admin_show') }}"
                 alt="no image"/>
        {% endif %}
    </p>

<div class="form_perso">
    {{ form(edit_form) }}
</div>

    {{ form(delete_form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('vendors/bootstrap.file-input.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('input[type=file]').bootstrapFileInput({
                title: 'Parcourir...'
            });
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}