{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            <span class="badge">{{ entities|length }}</span>
            Partenaires
        </li>
    </ol>

    <p>
        <a href="{{ path('admin_partners_new') }}" class="btn btn-success">
            Ajouter un partenaire
        </a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Entreprise</th>
            <th>Catégorie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.current == false %}class="danger"{%  endif %}>
                <td>
                    {% if entity.picture %}
                        <img src="{{ entity.picture.getwebpath|imagine_filter('admin_list') }}"
                             alt="image_partner_{{ entity.id }}"/>
                    {% else %}
                        <img src="{{ 'uploads/partners/no-image.jpg'|imagine_filter('admin_list') }}"
                             alt="no image"/>
                    {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>
                    {{ entity.category }}
                </td>
                <td>
                    <a href="{{ path('admin_partners_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">
                        Voir
                    </a>
                    <a href="{{ path('admin_partners_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
