{% extends admin_layout %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}"/>
{% endblock %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners') }}">Partenaires</a>

        </li>
        <li class="active">Nouveau partenaire</li>
    </ol>
    <div class="form_perso">
        {{ form(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('vendors/bootstrap.file-input.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('input[type=file]').bootstrapFileInput({
                title: 'Parcourir...'
            });
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}