{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_partners') }}">Partenaires</a>

        </li>
        <li class="active">Voir un partenaire</li>
    </ol>

    <p>
        <a href="{{ path('admin_partners_new') }}" class="btn btn-success">
            Ajouter un partenaire
        </a>
    </p>

    <table class="table">
        <tbody>
        <tr>
            <th>Image</th>
            <td>
                {% if entity.picture %}
                    <img src="{{ entity.picture.getwebpath|imagine_filter('admin_show') }}"
                         alt="image_partner_{{ entity.id }}"/>
                {% else %}
                    <img src="{{ 'uploads/partners/no-image.jpg'|imagine_filter('admin_show') }}"
                         alt="no image"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <p>
        <a href="{{ path('admin_partners_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Modifier
        </a>
    </p>
    {{ form(delete_form) }}

{% endblock %}
